body {
    background-color: black;
    color: white;
    font-family: 'Chakra Petch', sans-serif;
}

a {
    color: orange;
}


.content {
    max-width: 500px;
    margin: 0 auto;
    align-items: center;
}