/* widget-styles.css */
.widget {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    color: #333;
    font-family: 'Arial', sans-serif;
    display: flex;
}

.widget h2 {
    /* If you need specific styles for the title */
}

.widget p {
    color: red; /* Specific color for the paragraph text */
}

.widget img {
    width: 100px;
    height: auto;
}


.title {
    color: purple; /* Specific color for the paragraph text */
}